@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
header {
    color: #eee;
    .navbar-brand {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }
}